@media (max-width: 600px) {
    .food-display {
        padding: 0 !important;
        box-sizing: border-box;
        width: 100vw;
        max-width: 100vw;
    }
}
.food-display{
    margin-top: 30px;
    padding: 0 6vw;
    box-sizing: border-box;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 30px;
    gap: 20px;
    row-gap: 20px;
}

@media (max-width: 900px) {
    .food-display-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        row-gap: 16px;
    }
}

@media (max-width: 600px) {
    .food-display-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        row-gap: 12px;
    }
}
