.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    margin-top: 30px;
    gap: 20px;
    row-gap: 20px;
}

@media (max-width: 900px) {
    .food-display-list {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 16px;
        row-gap: 16px;
    }
}

@media (max-width: 600px) {
    .food-display-list {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 12px;
        row-gap: 12px;
    }
}
