@import url('https://fonts.googleapis.com/css2?family=NTR&family=Outfit:wght@100..900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
  transition: all 0.3s ease;
  width: 100%;
}

.main-content {
  flex: 1;
  background-color: #fcfcfc;
  min-height: calc(100vh - 60px);
  padding: 0 20px 20px 20px; 
  transition: all 0.3s ease;
  overflow-x: auto;
}

@media (min-width: 769px) {
  .app-content {
    position: relative;
  }
  
  .main-content {
    margin-left: 0;
    width: 100%; 
  }
  
  .app-content.sidebar-collapsed .main-content {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .app-content {
    display: block;
    position: relative;
  }
  
  .main-content {
    width: 100% !important;
    margin-left: 0 !important;
    transition: filter 0.3s ease;
    filter: none;
    pointer-events: all;
  }
  
  .app-content:not(.sidebar-collapsed) .main-content {
    filter: blur(2px);
    pointer-events: none;
  }
}